.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  color: #333;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  color: #333;
  font-family: Arial, sans-serif;
  overflow: hidden; /* Evita el desbordamiento de los globos al llegar al tope de la página */
}


.App {
  text-align: center;
}
